html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

blockquote,
q {
    quotes: none;
}

ol,
ul {
    list-style: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: none;
}

button,
[role="button"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: inherit;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
    vertical-align: inherit;
    width: auto;
}

iframe {
    border: 0;
}

img {
    display: block;
    height: auto;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    width: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased !important;
    font-smooth: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
}

html,
body {
    position: relative;
}

a svg,
button * {
    pointer-events: none;
}

:root {
    --white: #fff;
    --neutral-100: #f8f9fa;
    --neutral-200: #e8f0fe;
    --neutral-300: #d2e3fc;
    --neutral-400: #9aa0a6;
    --neutral-500: #5f6368;
    --neutral-800: #3c4043;
    --neutral-900: #0B0B0B;
    --primary-500: #F4F84D;
    --primary-600: #F6FA2A;
    --primary-700: #ECF012;


    --wrapper:90rem /* 1440px */
    --wrapper-padding: 1.5rem; /* 24 */
    --breakpoint-main: 52.5rem; /* 840 */
}

/* *************************************************************** */
/*                      Globals                                    */
/* *************************************************************** */

html{
        font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
        color:var(--white);

}

body{
    background-color: var(--neutral-900);
}

b,strong{
    font-weight: bold;
}

/* *************************************************************** */
/*                          Wrapper                                */
/* *************************************************************** */

.wrapper {
    display: block;
    padding: 0 var(--wrapper-padding);
    width: 100%;
}

.wrapper-max {
    margin: 0 auto;
    max-width: var(--wrapper);
}

/* *************************************************************** */
/*                           Header                                */
/* *************************************************************** */
.header-left{
    display: flex;
    align-items: center;
    gap: 16px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header a {
    color: var(--white);
    text-decoration: none;
}

/* *************************************************************** */
/*                               Menu                              */
/* *************************************************************** */

.nav{
    display:inline
}

/* *************************************************************** */
/*                               Main                              */
/* *************************************************************** */

.main {
    margin-top: 3rem;
}

/* *************************************************************** */
/*                      Intro                                      */
/* *************************************************************** */

.intro{
    margin-bottom: 3rem;
}

/* *************************************************************** */
/*                      Projects                                   */
/* *************************************************************** */
.projects-menu{
    display: inline-block;
}

.projects__project-card{
    margin-bottom: 2rem;
}

.projects__project-card img{
    border-radius: .5rem;
}

/* *************************************************************** */
/*                      Buttons                                    */
/* *************************************************************** */

.button {
    background: none;
    border: none;
    display: inline-block;
    color: var(--white);
    font-size: .75rem;
    padding: .75rem 1.25rem;
    text-decoration: none;
    margin-top: 1rem;
}

.button:hover {
    background: none;
    border: 1px solid;
    border-radius: 16px;
    border-color: var(--primary-500);
    color: var(--white);
}

/* *************************************************************** */
/*                      Others                                     */
/* *************************************************************** */

.memoji{
    width: 40px;
    height: 48px;
}

/* *************************************************************** */
/*     Responsive: Desktop first (max-width) — hasta 599px         */
/*                                                                 */
/*  Útil para estilar el menú solo para móvil. De esta manera no   */
/*  tenemos que sobre-escribir todos los estilos para desktop.     */
/* *************************************************************** */

@media (max-width: 37.4375em) {
    /* *************************************************************** */
    /*                               Menu                              */
    /* *************************************************************** */
}











/* *************************************************************** */
/*     Responsive: Mobile first (min-width) — desde 600px          */
/*                                                                 */
/*  Es la opción recomendada para el resto de elementos. Por       */
/*  defecto los estilaremos como móvil, e iremos modificando sus   */
/*  estilos para pantallas mayores. */
/* *************************************************************** */

@media (min-width: 37.5em) {
    /* *************************************************************** */
    /*                               Main                              */
    /* *************************************************************** */
    
    .main {
        margin-top: 3rem;
    }

    /* *************************************************************** */
    /*                             Header                              */
    /* *************************************************************** */


 }