html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

ol,
ul {
  list-style: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none;
}

button,
[role='button'],
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  vertical-align: inherit;
  width: auto;
}

iframe {
  border: 0;
}

img {
  display: block;
  height: auto;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  width: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
  font-smooth: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
}

html,
body {
  position: relative;
}

a svg,
button * {
  pointer-events: none;
}

:root {
  --white: #fff;
  --neutral-100: #f8f9fa;
  --neutral-200: #e8f0fe;
  --neutral-300: #E2E2E2;
  --neutral-400: #595959;
  --neutral-500: #2C2C2C;
  --neutral-800: #1F1F1F;
  --neutral-900: #0b0b0b;
  --primary-500: #f6fa2a;
  --primary-600: #f6fa2a;
  --primary-700: #ecf012;

  --breakpoint-main: 52.5rem; /* 840px */
  --wrapper: 55rem; /* 880px */
  --wrapper-padding: 1rem; /* 24px */
}

@font-face {
  font-family: TexasLED;
  src: local('TexasLED'), url('/assets/fonts/texasled-webfont.woff2') format('woff2');
  font-display: swap;
}
.texasled {
  font-family: 'TexasLED', monospace;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--primary-500);
}

/* *************************************************************** */
/*                      Globals                                    */
/* *************************************************************** */

html {
  font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
  color: var(--white);
}

body {
  background-color: var(--neutral-900);
}

footer {
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 3.157rem;
  font-weight: 700;
}

h2 {
  font-size: 2.369rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.777rem;
  line-height: 1.2;
}

.title-large {
  font-size: 3.157rem;
  font-weight: 700;
}

.title-medium {
  font-size: 3.157rem;
}
.title-small {
  font-size: 1.777rem;
  font-weight: 700;
}

.body-large {
  font-size: 1.333rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.body-small {
  font-size: 0.75rem;
}


b,
strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--white);
}

/* *************************************************************** */
/*                          Wrapper                                */
/* *************************************************************** */

.wrapper {
  display: block;
  padding: 0 var(--wrapper-padding);
  width: 100%;
}

.wrapper-max {
  margin: 0 auto;
  max-width: var(--wrapper);
}

/* *************************************************************** */
/*                           Header                                */
/* *************************************************************** */

.header {
  margin: 1rem 0 6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* *************************************************************** */
/*                               Menu                              */
/* *************************************************************** */

.header__nav {
  display: flex;
}

.menu {
  display: none;
}

.menu a:hover {
  color: var(--primary-500);
  font-weight: 700;
}


/* *************************************************************** */
/*                               Main                              */
/* *************************************************************** */

/* *************************************************************** */
/*                      Intro                                      */
/* *************************************************************** */

.intro {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.intro-hero {
  margin-bottom: 1.5rem;
}

.flip-letters {
  margin-bottom: 1rem;
}

.hero {
  margin-bottom: 3rem;
}

.flip-letters img {
  height: 44px;
  margin-left: -1rem;
}

/* *************************************************************** */
/*                      Projects                                   */
/* *************************************************************** */
.projects-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.projects-cards__project-card {
  margin-bottom: 2rem;
}

.project-card__image {
  margin: auto;
  min-width: 100%;
}

.project-card__text {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.project-card__title {
  color: var(--primary-600);
}

/* *************************************************************** */
/*                      Buttons                                    */
/* *************************************************************** */

.primary-button {
  background-color: var(--primary-500);
  color: var(--neutral-900);
  border-radius: 15px;
  height: 3rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.button {
  background: none;
  border: 1px solid;
  border-color: var(--neutral-900);
  display: inline-block;
  color: var(--white);
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  margin-top: 1rem;
}

.button:hover {
  background: none;
  border: 1px solid;
  border-radius: 16px;
  border-color: var(--primary-500);
  color: var(--white);
}

.active {
  font-weight: 700;
  color: var(--primary-500);
}

/* *************************************************************** */
/*                      Others                                     */
/* *************************************************************** */

<<<<<<< Updated upstream
.memoji {
  width: 40px;
  height: 48px;
=======
.memoji{
    width: 56px;
>>>>>>> Stashed changes
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6rem 0 1.5rem 0;
}

.footer-text{
    text-align: center;
}

/* *************************************************************** */
/* *************************************************************** */
/*                      CONTACT                                    */
/* *************************************************************** */
/* *************************************************************** */

.boarding-pass__title {
  margin: 0 1rem 0 1rem;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  background-color: var(--primary-500);
  border-radius: 1.5rem 1.5rem 0 0;
  color: var(--neutral-900);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boarding-pass__place {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boarding-pass__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem 0 1rem;
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: 0 0 1.5rem 1.5rem;
  color: var(--neutral-900);
}
.boarding-pass__info {
  display: flex;
  justify-content: space-between;
}
.skills {
  margin-top: 2rem;
}

.skills__title {
  margin-bottom: 1rem;
}

.skill {
  margin-bottom: 1.5rem;
}

.bullets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.bullet-true {
  height: 7px;
  border-radius: 100px;
  background-color: var(--primary-500);
}

.bullet-false {
  height: 7px;
  border-radius: 100px;
  background-color: var(--neutral-300);
}
.profile-image {
  height: 432px;
  width: 432px;
  align-self: center;
}

/* *************************************************************** */
/* *************************************************************** */
/*                      ABOUT                                      */
/* *************************************************************** */
/* *************************************************************** */

.about {
  display: flex;
  gap: 2rem;
}

.about__section {
  margin-bottom: 2rem;
}

.cards-hobbies{
  margin: 2rem 0 2rem 0;
}

.card-hobbie{
  margin-bottom: 2rem;
}

.title__card-hobbie{
  background-color: var(--neutral-500);
  padding: 1.5rem 1rem 1.5rem 1rem;
  border-radius: 1rem 1rem 0 0;
}

.content__card-hobbie{
  background-color: var(--neutral-800);
  padding: 3rem 1.5rem 3rem 1.5rem;
  border-radius: 0 0 1rem 1rem;
}
/* *************************************************************** */
/* *************************************************************** */
/*                      PROJECT                                    */
/* *************************************************************** */
/* *************************************************************** */

.project-hero__title {
  margin-bottom: 1rem;
}

.project-hero__image {
  margin-top: 1.5rem;
}

.topic-title {
  margin-bottom: 0.5rem;
}
.project-content__topic {
  margin-top: 3rem;
}

/* *************************************************************** */
/*     Responsive: Tablet (min-width) — desde 600px                */
/*                                                                 */
/* *************************************************************** */

@media (min-width: 37.5em) {
  .projects-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
  }
  .projects-cards__project-card {
    margin-bottom: 0;
  }

  .flip-letters img {
    height: 66px;
    margin-left: -2rem;
  }
}

/* *************************************************************** */
/*     Responsive: Desktop first    (max-width) — hasta 599px      */
/*                                                                 */
/*  Útil para estilar el menú solo para móvil. De esta manera no   */
/*  tenemos que sobre-escribir todos los estilos para desktop.     */
/* *************************************************************** */

@media (min-width: 64em) {
  html {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 3.998rem;
  }

  h2 {
    font-size: 2.827rem;
  }

  h3 {
    font-size: 1.999rem;
  }

  .title-large {
    font-size: 3.998rem;
  }

  .title-medium {
    font-size: 2.827rem;
  }
  .title-small {
    font-size: 1.999rem;
  }

  .body-large {
    font-size: 1.414rem;
  }

  .body-small {
    font-size: 0.707rem;
  }

  .body-small-bold {
    font-size: 0.707rem;
  }

  .menu__desktop {
    display: flex;
    gap: 1rem;
  }

<<<<<<< Updated upstream
  .flip-letters img {
    height: 88px;
  }
=======
    html{
        font-size: 1.25rem;
    }

    h1 {
        font-size: 3.998rem;
    }
    
    h2 {
        font-size: 2.827rem;
    }
    
    h3 {
        font-size: 1.999rem;
    }
    
    .title-large{
        font-size: 3.998rem;
    }
    
    .title-medium{
        font-size: 2.827rem;
    }
    .title-small{
        font-size: 1.999rem;
    }
    
    .body-large{
        font-size: 1.414rem;
    }
       
    .body-small{
        font-size: 0.707rem;
    }
    
    .body-small-bold{
        font-size: 0.707rem;
    }

    .menu__desktop{
        display: flex;
        gap: 1rem;
    }

    .flip-letters img{
        height: 88px;
    }

    .boarding-pass__title{

        padding: 2rem 5rem 1.5rem 5rem;

    }

    .memoji{
        width: 72px;
    }

    
    /* *************************************************************** */
    /*                               Project                           */
    /* *************************************************************** */
>>>>>>> Stashed changes

  .boarding-pass__title {
    padding: 2rem 5rem 1.5rem 5rem;
  }

  .cards-hobbies{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }

  .card-hobbie{
    margin-bottom: 0rem;
  }

  /* *************************************************************** */
  /*                               Project                           */
  /* *************************************************************** */
}

/* *************************************************************** */
/*     Responsive: Mobile first (min-width) — desde 600px          */
/*                                                                 */
/*  Es la opción recomendada para el resto de elementos. Por       */
/*  defecto los estilaremos como móvil, e iremos modificando sus   */
/*  estilos para pantallas mayores. */
/* *************************************************************** */

@media (max-width: 63.9375em) {
  .menu-open .menu {
    display: block;
    background-color: var(--neutral-900);
    width: 55%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 5rem;
    padding-left: 3rem;

  }

  .menu-open .main{
    opacity: 50%;    
  }
}

@media (min-width: 64em) {
  /* *************************************************************** */
  /*                               Main                              */
  /* *************************************************************** */

  .main {
    margin-top: 3rem;
  }

  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
    gap: 3.5rem;
  }

  /* *************************************************************** */
  /*                             Menu                                */
  /* *************************************************************** */
}
